
/* Summary.css */

.circle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    z-index: 5;
  }
  
  .circle1 {
    width: 100px;
    height: 100px;
    top: 15%;
    left: -3%;
    z-index: 5;
  }
  
  .circle2 {
    width: 220px;
    height: 220px;
    top: -3%;
    right: -3%;
    z-index: 5;
  }
  
  .circle3 {
    width: 250px;
    height: 250px;
    top: 80%;
    left: -0.5%;
    z-index: 5;
  }
  
  .circle4 {
    width: 35px;
    height: 35px;
    top: 37%;
    right: -0.5%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .ring {
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    background-color: transparent;
    z-index: 5;
  }
  
  .ring1 {
    width: 59px;
    height: 59px;
    top: 35.5%;
    right: -1.2%;
    border-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
  }
  
  .ring2 {
    width: 140px;
    height: 140px;
    top: 13%;
    left: -4.5%;
    border-color: rgba(255, 255, 255, 0.3);
    z-index: 5;
  }
  
  .ring3 {
    width: 320px;
    height: 320px;
    top: -11%;
    right: -7%;
    border-color: rgba(255, 255, 255, 0.3);
    z-index: 5;
  }
  
  .ring4 {
    width: 350px;
    height: 350px;
    top: 77%;
    left: -4%;
    border-color: rgba(255, 255, 255, 0.3);
    z-index: 5;
    
  }
.summary-container {
    background: rgba(63, 205, 246, 1);
    
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    min-height: 100vh; /* Make sure the container takes the full height of the viewport */
    width: 100vw; /* Ensure the container takes the full width of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
  .score-board {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .score-header {
    background-image: url(./scoreboard.png);
    color: white;
    
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: contain; /* Scale the image to fit the container */
    padding:  20px;
    
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: -45px;
    
  }
  
  .answers-list {
    border: 2px solid #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .answer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }
  
  .equation {
    font-size: x-large;
    font-weight: bolder;
  }
  
  .user-answer {
    font-size: x-large;
    font-weight: bolder;
    width: 30%;
  }
  
  .result {
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  
  .hug-count {
    text-align: center;
    color: #4682B4;
    margin-bottom: 20px;
  }
  
  .next-level-btn {
    
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #32CD32;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .next-level-btn:hover {
    background-color: #28A428;
  }
  
  @media (max-width: 480px) {
    .score-board {
      width: 90%;
      height : auto;
    }
  
    .score-header {
      font-size: 1rem;
    }
  
    .equation {
      font-size: 1.4rem;
    }
    .user-answer{
      font-size: 1.4rem;
    }
  
    .next-level-btn {
      max-width: 180px;
      font-size: 0.9rem;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .score-board {
      width: 85%;
    }
    
  
    .next-level-btn {
      max-width: 250px;
    }
  }
  @media(max-width: 768px) {
    .circle {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        z-index: 5;
      }
      
      .circle1 {
        width: 55px;
        height: 55px;
        top: 14%;
        left: -3%;
        z-index: 5;
      }
      
      .circle2 {
        width: 110px;
        height: 110px;
        top: -1%;
        right: -5%;
        z-index: 5;
      }
      
      .circle3 {
        width: 110px;
        height: 110px;
        top: 90%;
        left: -1%;
        z-index: 5;
      }
      
      .circle4 {
        width: 20px;
        height: 20px;
        top: 28%;
        right: -1%;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.5);
      }
      
      .ring {
        position: absolute;
        border-radius: 50%;
        border: 1px solid;
        background-color: transparent;
        z-index: 5;
      }
      
      .ring1 {
        width: 30px;
        height: 30px;
        top: 27%;
        right: -1.5%;
        border-color: rgba(255, 255, 255, 0.5);
        z-index: 5;
      }
      
      .ring2 {
        width: 70px;
        height: 70px;
        top: 13%;
        left: -4.5%;
        border-color: rgba(255, 255, 255, 0.3);
        z-index: 5;
      }
      
      .ring3 {
        width: 150px;
        height: 150px;
        top: -4%;
        right: -10%;
        border-color: rgba(255, 255, 255, 0.3);
        z-index: 5;
      }
      
      .ring4 {
        width: 157px;
        height: 157px;
        top: 89%;
        left: -7%;
        border-color: rgba(255, 255, 255, 0.3);
        z-index: 5;
        
      }
    
  }
